<!DOCTYPE html>
<html>
  <head>
    <title>RorSocialScaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <%= link_to 'Stay in touch', root_path %>
      <div class="menu">
        <div class="menu-item">
          <%= menu_link_to 'Timeline', posts_path %>
        </div>
        <div class="menu-item">
          <%= menu_link_to 'All users', users_path %>
        </div>
      </div>
      <% if current_user %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', user_session_path %>
      <% end %>
    </nav>

    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>

    <main class="main">
      <% if signed_in? %>
      <section class="friends">
        <h2>Your friends</h2>
        <%= friends_section_default %>
        <ul>
          <% current_user.confirmed_friends.each do |friend| %>
          <li><%= friend.name %></li>
          <% end %>
        </ul>
      </section>
      <% end %>

      <section class="view">
        <%= yield %>
      </section>

      <% if signed_in? %>
      <section class="pending">
        <h2>Your pending invites</h2>
        <%= pending_section_default %>
        <ul>
          <% current_user.pending_requests.each do |request| %>
          <li>
            <span><%= request.befriender.name %></span>
            <button><%= link_to "Accept", friend_request_path(request), method: :patch %></button>
            <button><%= link_to "Decline", friend_request_path(request), method: :delete %></button>
          </li>
          <% end %>
        </ul>
      </section>
      <% end %>
    </main>
  </body>
</html>
